*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.menu_arriba__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_arriba__nav img{
    height: 2rem;
}

.menu_arriba__nav ul{
    list-style: none;
    display: inline-block;
}

.menu_arriba__nav li{
    display: inline-block;
    padding: 1rem;
}

.menu_arriba__nav a{
    color: black;
    text-decoration: none;
}

.menu_arriba__nav__registro__ li{
}

.menu_arriba__nav__registro__ a{
    color: white;
    background-color: grey;
    border-bottom-left-radius: 15rem;
    border-top-right-radius: 15rem;
    padding: 0.5rem;
}