*::after,
*::before,

html{
    font-size: 62.5%;
}

body{
    font-family: Arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

.menu_arriba__{
    display: flex;
    margin-left: 4rem;
    justify-content: space-between;
    text-align: center;
}

.menu_arriba__nav{
    display: flex;
    align-items: center;
}

.menu_arriba__nav img{
    height: 2rem;
}

.menu_arriba__nav ul{
    list-style: none;
    display: inline-block;
}

.menu_arriba__nav li{
    display: inline-block;
    padding: 1rem;
}

.menu_arriba__nav a{
    color: black;
    text-decoration: none;
    margin-left: 3rem;
}

.menu_arriba__nav__opciones__{
    margin-left: 9rem;
}

.menu_arriba__nav__registro__ li{
    list-style: none;
    padding: 2rem;

}

.menu_arriba__nav__registro__ a{
    text-decoration: none;
    color: white;
    background-color: grey;
    border-bottom-left-radius: 15rem;
    border-top-right-radius: 15rem;
    padding: 0.5rem;
}

.footer__menu__arriba{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__menu__arriba ul{
    margin-top: 1.5rem;
}

.footer__menu__arriba a{
    text-decoration: none;
    color: black;
}

.footer__menu__abajo{
    margin-top: 5rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.footer__menu__abajo li{
    display: inline-flex;
    list-style: none;
}

.footer__menu__abajo a{
    text-decoration: none;
    color: black;
    margin-right: 2rem;
}