*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu__arriba{
    background-color: white;
    display: flex;
    width: 100%;
}

.menu__arriba__header{
    display: flex;
}

.menu__arriba__header__nav ul{
    list-style: none;
}

.menu__arriba__header__nav li{
    display: inline-block;
}

.menu__arriba__header__nav a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-size: 1rem;
}

.boton__login{
    background-color: rgb(116, 116, 116);
    border-radius: 14rem; 
    justify-content: flex-end;
}
.boton__login a{
    color: white;
}

.contenido__medio{
    display: flex;
    background-color: white;
}

.contenido__medio__imagenuno{
    width: 90%;
    margin: 1%;
}

.menu__medio__iconos ul{
    list-style: none;
}

.menu__medio__iconos li{
    display: inline-block;
    padding: 3.5rem;
}

.menu__medio__iconos a{
    text-decoration: none;
    color: black;
}

.menu__medio__bajo{
    display: inline-flex;
    padding: 0.5rem;
    margin: 1rem;
}

.menu__medio__bajo img{
    width: 15rem;
    height: 15rem;
    border-radius: 30rem;
}

.menu__medio__bajo p{
    background-color: rgb(230, 230, 230);
    font-size: small;
    border-radius: 1rem;
    border-color: black;
    margin: 1rem;
}

.footer__bajo{
    display: flex;
    background-color: white;
}

.footer__bajo nav{
    width: 50rem;
}

.footer__bajo li{
    list-style: none;
}

.footer__bajo p{
    padding: 0rem;
}

.footer__bajo a{
    text-decoration: none;
    color: black;
    padding: 0rem;
}

.menu__bajo__abajo li{
    display: inline-block;
    background-color: white;
}

.menu__bajo__abajo a{
    color: black;
    text-decoration: none;
    padding: 1.5rem;
    font-size: 7px;

}